@import url(./__section/page__section.css);
@import url(./__section-title/page__section-title.css);

.page {
    font-family: var(--main-font);
    background-color: var(--page-bg);
    font-size: 18px;
    color: var(--page-text-color);
    line-height: 120%;
    font-weight: 400;
}