.content {
    display: flex;
    flex-direction: column;
    gap: 120px 0;
}

/* .content__link {
    color: var(--page-link-color);
    text-decoration: none;
} */

.content__info-text {
    color: var(--info-text-color);
}

.content__link:hover {
    text-decoration: underline;
}

.content__title {
    font-size: 28px;
    line-height: 136%;
}

.content__section {
    padding-left: var(--section-offset);
    padding-right: var(--section-offset);
}