.content {
    display: flex;
    flex-direction: column;
    gap: 120px 0;
}

.content__link {
    color: var(--page-link-color);
    text-decoration: none;
}

.content__link:hover {
    text-decoration: underline;
}