.content {
    display: flex;
    flex-direction: column;
    gap: 120px 0;
}

.content__info-text {
    color: var(--info-text-color);
}

.content__link:hover {
    text-decoration: underline;
}

.content__title {
    font-size: 28px;
    line-height: 136%;
}

.content__section-intro {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
}