.decor {
    position: relative;
}

.decor::after,
.decor::before {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.decor_stamp::before {
    background-image: url(../../images/stamp-paper.png);
    content: '';
}

.decor::after {
    mix-blend-mode: color-burn;
    content: '';
    background-image: url(../../images/decor-pattern.png);
}