.decor {
    position: relative;
    margin: 0;
}

.decor:after {
    inset: 0;
    mix-blend-mode: color-burn;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../images/bg-pattern.png);
    background-size: cover;
}