.intro {
    --color-border-divider: #D0D0D0;
    display: grid;
    gap: 40px 0;
    overflow: hidden;
}

.intro__photo {
    margin: 0 auto;
    border-radius: 100%;
    object-fit: cover;
}

.intro__photo-game {
    margin-block: 15px 0;
    transform: scale(1.1);
    transform-origin: center;
    min-width: 338px;
}

.intro__invite {
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: "title"
        "photo";
}

.intro__figure-photo {
    grid-area: photo;
}

.intro__invite-title {
    display: inline;
}

.intro__invite-title:nth-child(2) {
    grid-area: title;
}

.intro__list {
    list-style: none;
    font-size: 20px;
    line-height: 120%;
    color: var(--light-gray-color);
    display: grid;
    gap: 0 16px;
}

.intro__list-item {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-block: 15px;
}

.intro__list-item:not(:last-child) {
    border-bottom: 2px solid var(--color-border-divider);
}

.intro__list-item:first-child {
    padding-top: 5px;
}

.intro__list-item:last-child {
    padding-block-end: 0;
}

.intro__list-accent {
    font-weight: 600;
    color: var(--dark-gray-color);
    display: inline-flex;
    gap: 12px;
}

.intro__text-crossed {
    text-decoration: line-through;
    text-decoration-color: var(--red-color);
    text-decoration-thickness: 2px;
}

@media (min-width: 768px) {
    .intro__invite {
        display: block;
        grid-area: invite;
    }

    .intro__figure-photo {
        float: right;
        width: 285px;
        margin-left: 25px;
    }

    .intro__photo-game {
        min-width: 100%;
    }

    .intro {
        grid-template-areas: "invite invite"
            "photo title"
            "list list"
            "info info";
        gap: 22px;
        align-items: flex-start;
        justify-items: flex-start;
        display: grid;
        grid-template-columns: 35% 1fr;
    }

    .intro__list-title {
        margin-block: 15px 5px;
        grid-area: title;
    }

    .intro__list {
        grid-area: list;
        width: 100%;
    }

    .intro__info {
        grid-area: info;
    }

    .intro__figure-game {
        grid-area: photo;
    }

    .intro__list-item {
        display: grid;
        grid-template-columns: minmax(41%, 295px) 1fr;
        grid-template-rows: minmax(53px, 1fr);
        gap: 12px 10px;
        padding-block: 0;
        align-items: center;
    }

    .intro__list-item:first-child {
        padding-top: 0;
    }

    .intro__list-accent {
        border-left: 2px solid var(--color-border-divider);
        padding-inline-start: 16px;
        padding-block: 13px;
        height: 100%;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .intro__figure-photo {
        width: 394px;
        margin-left: 50px;
    }

    .intro {
        grid-template-areas: "invite invite"
            "photo title"
            "photo list"
            "photo info";
        gap: 43px;
    }
}

@media (min-width: 1300px) {
    .intro__invite-title:nth-child(2)::before {
        content: '';
        display: block;
        margin-block-start: 28px;
    }

    .intro {
        grid-template-columns: 474px 1fr;
    }
}