.intro {
    display: grid;
    gap: 40px 0;
    overflow: hidden;
    /* grid-template-areas: "photo title"
"photo list"
"photo link";
gap: 0 44px;
align-items: flex-start;
justify-items: flex-start;
display: grid;
grid-template-columns: 474px 1fr; */
}

.intro__photo {
    margin: 0 auto;
    border-radius: 100%;
}

.intro__photo-game {
    margin-block: 15px 0;
    transform: scale(1.1);
    transform-origin: center;
    min-width: 338px;
}

.intro__invite {
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: "title"
        "photo";
}

.intro__figure-photo {
    grid-area: photo;
}

.intro__invite-title {
    display: inline;
}

.intro__invite-title:first-of-type {
    grid-area: title;
}

.intro__list {
    list-style: none;
    font-size: 20px;
    line-height: 120%;
    color: var(--light-gray-color);
    display: grid;
    gap: 0 16px;
}

.intro__list-item {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-block: 15px;
}

.intro__list-item:not(:last-child) {
    border-bottom: 2px solid #D0D0D0;
}

.intro__list-item:first-child {
    padding-top: 5px;
}

.intro__list-item:last-child {
    padding-block-end: 0;
}

.intro__list-accent {
    font-weight: 600;
    color: var(--dark-gray-color);
}

.intro__list-accent_crossed {
    text-decoration: line-through;
    text-decoration-color: var(--red-color);
    text-decoration-thickness: 2px;
}

@media (min-width: 768px) {
    .intro__invite {
        display: block;
    }

    .intro__figure-photo {
        float: right;
        width: 285px;
        margin-left: 25px;
    }
}

@media (min-width: 1024px) {
    .intro__figure-photo {
        width: 394px;
        margin-left: 50px;
    }
}

@media (min-width: 1300px) {
    .intro__invite-title:first-of-type:before {
        content: '';
        display: block;
        margin-block-start: 28px;
    }
}