.invite {
    display: grid;
    overflow: hidden;
    gap: 40px 0;
    padding-block-start: 55px;
}

.invite__picture {
    grid-row: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite__picture img {
    transform: scale(1.1);
    transform-origin: center;
    min-width: 338px;
}

.invite__list {
    list-style: none;
    font-size: 20px;
    line-height: 120%;
    color: var(--light-gray-color);
    display: grid;
    gap: 0 16px;
}

.invite__list-item {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-block: 15px;
}

.invite__list-item:not(:last-child) {
    border-bottom: 2px solid #D0D0D0;
}

.invite__list-item:first-child {
    padding-top: 5px;
}

.invite__list-item:last-child {
    padding-block-end: 0;
}

.invite__list-accent {
    font-weight: 600;
    color: var(--dark-gray-color);
}

.invite__list-accent_crossed {
    text-decoration: line-through;
    text-decoration-color: var(--red-color);
    text-decoration-thickness: 2px;
}