.main-title {
    font-weight: 400;
    text-transform: uppercase;
    color: var(--title-text-color);
    font-family: var(--title-family);
    font-size: clamp(2.25rem, 5vw, 3.375rem);
    line-height: 110%;
}

.main-title__accent {
    font-weight: 700;
    color: var(--title-accent-color);
}

@media (min-width:1024px) {
    .main-title {
        line-height: 120%;
    }
}