.members__slider-list {
    /* grid-template-columns: repeat(auto-fill, 100%); */
    grid-auto-columns: 100%;
    margin-block: 40px;
}

/* @media (max-width: 767px) {
    .members__slider-list {
        display: flex;
    }

    .members__slider-list .slider__item {
        flex: 1 0 100%;
    }
} */

@media (min-width: 768px) {
    .members__slider-list {
        grid-template-columns: repeat(auto-fill, 50%);
        grid-auto-columns: 50%;
    }
}

@media (min-width: 1024px) {
    .members__slider-list {
        grid-template-columns: repeat(auto-fill, minmax(32.2%, 394px));
        grid-auto-columns: minmax(32.2%, 394px);
    }

    .members__title {
        max-width: calc(100% - 200px);
    }

    .members {
        position: relative;
    }

    .members__slider-controls {
        position: absolute;
        right: var(--section-offset-xl);
        top: 10px;
    }
}

@media (min-width: 1300px) {
    .members__slider-list {
        /* grid-template-columns: repeat(3, minmax(394px, 1fr));
grid-auto-columns: minmax(394px, 1fr); */
        gap: 20px;
        margin-block: 60px 0;
    }

    .members {
        margin-block-end: 40px;
    }
}