.page {
    font-family: var(--main-font);
    background-color: var(--page-bg);
    font-size: 18px;
    color: var(--page-text-color);
    line-height: 120%;
    font-weight: 400;
}

.page__section {
    padding-inline: var(--section-offset);
    width: var(--section-max-width);
    max-width: 100%;
    margin: 0 auto;
}

.page__section_has_bg {
    background-color: var(--section-bg);
}

@media (min-width: 1300px) {
    .page__section {
        padding-inline: var(--section-offset-xl);
    }
}