.page {
    font-family: var(--main-font);
    background-color: var(--page-bg);
    font-size: 18px;
    color: var(--page-text-color);
    line-height: 120%;
    font-weight: 400;
}

.page__section {
    padding-inline: var(--section-offset);
}

.page__section_has_bg {
    background-color: var(--section-bg);
}