.slider {
    overflow: hidden;
}

.slider__list {
    counter-reset: slider-item;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 100%);
    transition: transform 0.3s ease;
    grid-template-rows: minmax(300px, 1fr);
    grid-auto-rows: minmax(128px, auto);
}

.slider__item {
    grid-column: span 1;
    grid-row: 1/-1;
    position: relative;
    overflow: hidden;
}

.slider__content {
    height: 100%;
}

.slider__item_active {
    grid-column: 1/2;
    grid-row: 1;
}

.slider__item_active~.slider__item_active {
    grid-row: auto;
}

.slider__button {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: none;
    background-color: var(--slider-btn-bg);
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.25s linear;
}

.slider__button:hover {
    background-color: var(--slider-btn-bg-hover);
    cursor: pointer;
}

.slider__button:focus {
    outline: none;
}

.slider__button:focus-visible {
    outline: 2px solid var(--slider-btn-bg-hover);
}

.slider__button:disabled,
.slider__button_disabled {
    pointer-events: none;
    background-color: var(--slider-btn-bg-disabled);
}

.slider__button-icon {
    width: 16px;
    height: 16px;
}

.slider__button_prev {
    transform: rotate(180deg);
}

.slider__button_type_dot {
    width: 10px;
    height: 10px;
    background-color: var(--slider-dot-bg);
}

.slider__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.slider__dots {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}

.slider__button_active {
    background-color: var(--slider-btn-bg);
}

.slider__list.is-transitioning {
    transform: translateX(-100%);
}

.slider__counter {
    color: var(--slider-counter-text-color);
}

.slider__counter-current {
    color: var(--dark-gray-color);
}

@media (min-width: 1024px) {
    .slider__button:not(.slider__button_type_dot) {
        width: 44px;
        height: 44px;
    }

    .slider__button-icon {
        width: 20px;
        height: 20px;
    }

    .slider__counter {
        font-size: 16px;
        display: inline-flex;
        gap: 3px;
    }
}