.header__composition {
    /* margin-inline: calc(-1 * (var(--section-offset))); */
    position: relative;
    margin-block-start: 15px;
    padding-block-end: 20px;
}

@media (min-width: 768px) {
    .header__composition {
        position: absolute;
        left: 0;
        bottom: 35px;
        margin: 0 auto;
        max-width: 1630px;
        /* max-width: 1366px;
        padding-block-end: 25px; */
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    .header__composition {
        padding-block-end: 0;
    }
}

@media (min-width: 1400px) {
    .header__composition {
        right: -20px;
    }
}