@import url(./__title/header__title.css);
@import url(./__title-text/header__title-text.css);

.header {
    position: relative;
    /* min-height: 812px; */
    margin: 0 auto;
    padding: 18px var(--section-offset);
    line-height: 130%;
    background-color: #E9DED4;
}

.header__subtitle {
    margin-bottom: 32px;
}

.header__buttons {
    display: flex;
    flex-direction: column;
    gap: 14px;
}