@import url(./__title/header__title.css);
@import url(./__title-text/header__title-text.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__buttons/header__buttons.css);
@import url(./__content/header__content.css);
@import url(./__composition/header__composition.css);
@import url(./__composition-horse/header__composition-horse.css);
@import url(./__composition-city/header__composition-city.css);
@import url(./__circle/header__circle.css);
@import url(./__front-figure/header__front-figure.css);
@import url(./__chess-figure/header__chess-figure.css);
@import url(./__content-wrapper/header__content-wrapper.css);

.header {
    margin: 0 auto;
    padding-block: 18px 0;
    line-height: 130%;
    margin-block-end: 48px;
    overflow: hidden;
    background-color: var(--section-bg);
}

@media (min-width: 768px) {
    .header {
        padding-block: 28px 0;
    }
}