.header__front-figure {
    width: 82px;
    right: calc(105px + 12vw);
    bottom: 18px;
    opacity: 0;
}

@media (min-width: 768px) {
    .header__front-figure {
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    .header__front-figure {
        width: 60px;
        height: 90px;
    }
}

@media (min-width: 1300px) {
    .header__front-figure {
        right: 55px;
        bottom: 40px;
    }
}