@import url(./__img/logo__img.css);
@import url(./__accent/logo__accent.css);

.logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    gap: 5px;
    color: var(--logo-text-color);
    font-size: 14px;
    line-height: 108%;
    letter-spacing: 0.2px;
}