@import url(./__img/logo__img.css);
@import url(./__accent/logo__accent.css);

.logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    gap: 5px;
    color: var(--logo-text-color);
    font-size: 14px;
    line-height: 108%;
    letter-spacing: 0.2px;
    grid-area: logo;
    text-decoration: none;
    transition: opacity 0.25s linear;
}

.logo:hover {
    opacity: 0.8;
}

@media (min-width: 1300px) {
    .logo {
        font-size: 16px;
        gap: 8px;
    }
}