.header__composition-horse {
    width: 100px;
    height: 137px;
    bottom: 15px;
    left: 15px;
    right: 0;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1300px) {
    .header__composition-horse {
        bottom: -25px;
        left: 41%;
    }
}

@media (min-width: 1300px) {
    .header__composition-horse {
        width: 185px;
        height: 220px;
        left: auto;
        right: 25%;
        margin: 0;
        bottom: 25px;
    }
}

@media (min-width: 1400px) {
    .header__composition-horse {
        right: 29.5%;
    }
}