:root {
    /* Base */
    --main-font: "Golos Text", sans-serif;
    --second-font: "Merriweather", sans-serif;
    /* Page */
    --page-bg: #fff;
    --page-text-color: var(--dark-gray-color);
    /* Colors */
    --dark-gray-color: #313131;
    --light-gray-color: rgba(49, 49, 49, 0.7);
    --red-color: #f54932;
    --gray-color: rgba(49, 49, 49, 0.6);
    --dark-blue-color: #3057a2;
    --tudora-color: #595653;
    --black-color: #1f1f1f;
    --yellow-color: #fbce51;
    --white-coffee: #E9DED4;
    /* Text */
    --title-family: var(--second-font);
    --title-text-color: var(--dark-gray-color);
    --title-font-weight: 400;
    --title-accent-color: var(--red-color);
    --logo-text-color: var(--tudora-color);
    --info-text-color: var(--dark-blue-color);
    /* Sections */
    --section-bg: var(--white-coffee);
    --section-offset: 20px;
    --section-offset-xl: 72px;
    --section-max-width: 1366px;
    /* Buttons */
    --btn-border-color: var(--black-color);
    --btn-font: var(--main-font);
    /* Button dark */
    --btn-dark-bg: var(--black-color);
    --btn-dark-hover-bg: var(--yellow-color);
    --btn-dark-hover-border-color: var(--btn-dark-hover-bg);
    --btn-dark-color: #fff;
    /* Button light */
    --btn-dark-hover-color: var(--black-color);
    --btn-light-bg: rgba(255, 255, 255, 0.9);
    --btn-light-hover-bg: var(--btn-dark-bg);
    /* Button blue */
    --btn-info-border-color: var(--dark-blue-color);
    --btn-info-color: var(--dark-blue-color);
    --btn-info-hover-bg: var(--dark-blue-color);
    --btn-info-hover-color-text: #fff;
    /* Slider */
    --slider-btn-bg: var(--dark-gray-color);
    --slider-btn-bg-disabled: #D6D6D6;
    --slider-btn-bg-hover: var(--yellow-color);
    --slider-dot-bg: #D9D9D9;
    --slider-counter-text-color: var(--gray-color);
    --slider-gap-between-items: 20px;
}